{% extends "base.html" %}
{% block content %}
    <section class="wrapper">
            <div class="row title-card">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Welcome to the SZGEN Database</span>
                        <p>Studies of Schizophrenic patients from the research of Professor Bryan Mowry.  Contains genetic samples and associated diagnostics.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">View all Studies</a>
                        <a href="{% url 'study_create' %}">Add a Study</a>
                    </div>
                </div>
                {% if studies %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Filter</span>
                        <p>Filter on Status</p>
                    </div>
                </div>
                {% endif %}
            </div>
        {% if studies %}
            <ul class="card-list">
            <li>
                {%  for study in studies %}
            <div class="card">
                <div class="card-title">
                    <span class="left"><a href="{%  url 'study_detail' study.id %}" title="View Study Details">{{ study.title }}</a></span>
                    <span class="right">{{ study.get_status_display }}</span></div>
                <div class="card-content">
                    <dl>
                        <dt><strong>Code:</strong> {{ study.precursor }}</dt>
                        <dt>{{ study.description }}</dt></dl>
                </div>
                <div class="card-action">
                    <a href="#">Participants</a>
                    <a href="#">Samples</a>
                    <a href="#">Clinical</a>
                    <a href="#">Genetics</a>
                </div>
            </div>
            {%  endfor %}
            </li>
            </ul>

        {% else %}
            <div class="card">

            <div class="card-content">
                <span class="card-title">Studies</span>
                <p>No studies found in the database</p>
            </div>
            <div class="card-action">
                <div class="fixed-action-btn">
                  <a class="btn-floating btn-large red" title="Add new study"
                  href="{% url 'study_create' %}">
                    <i class="large material-icons">add_circle</i>
                  </a>
                </div>
            </div>
            </div>
        {% endif %}

    </section>

{% endblock %}
