{% extends "base.html" %}
{% block content %}
    <section class="wrapper">
            <div class="row title-card">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Welcome to the SZGEN Database</span>
                        <p>Studies of Schizophrenic patients from the research of Professor Bryan Mowry.  Contains genetic samples and associated diagnostics.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">View all Studies</a>
                    </div>
                </div>
            </div>
        {%  if studies %}
            <ul class="card-list">
            <li>
                {%  for study in studies %}
            <div class="card">
                <div class="card-title"></div>
                <div class="card-content"></div>
                <div class="card-action"></div>
            </div>
            {%  endfor %}
            </li>
            </ul>

        {% else %}
            <div class="card">

            <div class="card-content">
                <span class="card-title">Studies</span>
                <p>No studies found in the database</p>
            </div>
            <div class="card-action">
                <div class="fixed-action-btn">
                  <a class="btn-floating btn-large red" title="Add new study">
                    <i class="large material-icons">add_circle</i>
                  </a>
                </div>
            </div>
            </div>
        {% endif %}

    </section>

{% endblock %}
