{% extends "base.html" %}
{% block title %}Participant Remove{% endblock %}
{% block breadcrumbs_items %}
    <ul>
        <li><a href="{% url 'participants' %}">Participants</a></li>
        <li>&nbsp;&gt;&nbsp;</li>
        <li><a href="{% url 'participant_detail' object.id %}">{{ object }}</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="container">
  <div class="page-header"><h2>Confirm remove</h2></div>
  <div class="row col-md-6">
    <div class="well">

    <form method="post">{% csrf_token %}
        <h5>Are you sure you want to remove this related participant from "{{ object }}"?</h5>
        <p>This will not delete the data, just unlink it from this participant.</p>
        <div >
                    <table id="view-table" class="ui-responsive table table-hover">
                        <tbody>
                        <tr>
                            <th>Record No</th>
                            <td>{{ participant.id|force_escape }}</td>
                        </tr>
                        <tr>
                            <th>Full number</th>
                            <td>{{ participant.fullnumber }}</td>
                        </tr>
                        <tr>
                            <th>Study</th>
                            <td>{{ participant.study }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ participant.status }}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{ participant.country|force_escape }}</td>
                        </tr>

                        </tbody>
                    </table>

                </div>
        <input type="submit" class="btn btn-success" value="Confirm" />
        <button type="button" class="btn" onclick="javascript:history.back();return false;">Cancel</button>
    </form>
    </div></div></div>
{% endblock %}