{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h2>Participants</h2>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large blue-grey" title="Add participant"
               href="{% url 'participant_create' %}">
                <i class="large material-icons">add</i>
            </a>
        </div>
        {% if participants.count > 0 %}
            <table id="participant-list">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Full ID</th>
                    <th>Study</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Country</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.participant.id }}</td>
                        <td>{{ participant.getFullNumber }}</td>
                        <td>{{ participant.study.title }}</td>
                        <td>{{ participant.participant.get_status_display }}</td>
                        <td>{{ participant.arrival_date|date:"c" }}</td>
                        <td>{{ participant.participant.get_country_display }}</td>
                        <td>
                            <a class="btn-floating red" title="Edit participant"
                               href="{% url 'studyparticipant_update' participant.id %}">
                            <i class="material-icons">edit</i>
                        </a>
                            <a class="btn-floating grey" title="View participant details"
                               href="{% url 'participant_detail' participant.participant.id %}">
                            <i class="material-icons">visibility</i>
                        </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Participants found</p>
            <a href="{% url 'participant_create' %}">Add a Participant</a>
        {% endif %}
    </div>
{% endblock content %}