{% extends "base.html" %}
{% load render_table export_url from django_tables2 %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
    <section>
        <div>
            <h2>Participants
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large blue-grey" title="Add participant"
                       href="{% url 'participant_create' %}">
                        <i class="large material-icons">add</i>
                    </a>
                </div>
            </h2>
        </div>
        <div class="content-table">
            <div class="left-panel">

                <div id="summary" class="card fade in active">
                    <div class="btn-group">
                        <a class="btn btn-small" href="{% export_url 'csv' %}" onclick="showLoading()">
                            download <code>.csv</code>
                        </a>
                        <a class="btn btn-small" href="{% export_url 'xls' %}" onclick="showLoading()">
                            <code>.xls</code>
                        </a>
                    </div>

                    {% render_table table %}
                </div>
            </div>
            <div class="right-panel">
                {% if filter %}
                    <div class="card form-card">
                        <form action="" method="get" class="form">
                            {% bootstrap_form filter.form %}
                            {% bootstrap_button 'filter' %}
                            <a class="btn grey" href="{% url 'participants' %}">Reset</a>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        <div id="modal" onclick="hideLoading()"></div>
        <script type="text/javascript">
            function showLoading() {
                $("body").addClass("loading");
            }
            function hideLoading() {
                $("body").removeClass("loading");
            }

            $(window).on("load", function () {
                console.log("window loaded");
                $("body").removeClass("loading");
            });

        </script>
    </section>
{% endblock content %}