{% extends "base.html" %}
{% block title %}Study Details{% endblock %}
{% block breadcrumbs_items %}
    <ul>
        <li><a href="/">Studies</a></li>
        <li>&nbsp;&gt;&nbsp;</li>
        <li>Study</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row col-md-8">
            <div>
                <h3>Study {{ study.title|force_escape }}</h3>
                <div class="fixed-action-btn">
                    {% if perms.szgenapp.change_study %}
                        <a class="btn-floating btn-large green" title="Edit Study"
                           href="{% url 'study_update' study.id %}">
                            <i class="large material-icons">edit</i>
                        </a>
                    {% endif %}
                    {% if perms.szgenapp.delete_study %}
                        <a class="btn-floating btn-large red" title="Delete Study"
                           href="{% url 'study_delete' study.id %}">
                            <i class="large material-icons">delete</i>
                        </a>
                    {% endif %}
                </div>
                <div class="well">
                    <table id="view-table" class="ui-responsive table table-hover">
                        <tbody>
                        <tr>
                            <th>Study ID</th>
                            <td>{{ study.id|force_escape }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ study.title|force_escape }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ study.get_status_display }}</td>
                        </tr>
                        <tr>
                            <th>ID Precursor</th>
                            <td>{{ study.precursor|force_escape }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ study.description|force_escape }}</td>
                        </tr>
                        <tr>
                            <th>Notes</th>
                            <td>{{ study.notes|force_escape }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" href="#collapse6">Related Documents</a>
                            <span class="badge blue-grey">{{ study.document_set.count }}</span>
                            <div class="fixed-action-btn">
                                {% if perms.szgenapp.add_document %}
                                    <a class="btn-floating blue-grey small" title="Add Document"
                                       href="{% url 'documents_create' %}">
                                        <i class="material-icons">add</i>
                                    </a>
                                {% endif %}
                            </div>
                        </h3>
                    </div>
                    <div id="collapse6" class="collapse" data-parent="#panel-group">
                        <div class="panel-body">
                            {% if study.document_set.count == 0 %}
                                <p>No uploaded documents for {{ study }}</p>

                            {% else %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Document</th>
                                        <th>Description</th>
                                        <th>Size</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for doc in study.document_set.all %}
                                        <tr>
                                            <td>{{ doc.docfile.name }}</td>
                                            <td>{{ doc.description }}</td>
                                            <td>{{ doc.docfile.name }}</td>
                                            <td>
                                                <a class="btn-floating grey small"
                                                   href="{% url 'documents_detail' doc.id %}" title="View Document">
                                                    <i class="material-icons">visibility</i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            {% endif %}
                        </div>
                    </div>
                </div>

{% endblock %}