{% extends 'base.html' %}

{% load material_form %}
{% block breadcrumbs_items %}
    <ul>
        <li><a href="{% url 'samples' %}">Samples</a></li>
        <li>&nbsp;&gt;&nbsp;</li>
        {% if participant %}
            <li><a href="{% url 'participant_detail' participant.pk %}">Participant</a></li>
            <li>&nbsp;&gt;&nbsp;</li>
        {% endif %}
        {% if sample %}
            <li><a href="{% url 'sample_detail' sample.pk %}">Sample</a></li>
            <li> &gt;</li>
        {% elif form.initial.sample %}
            <li><a href="{% url 'sample_detail' form.initial.sample.pk %}">Sample</a></li>
            <li> &gt;</li>
        {% endif %}
        <li>{{ subtitle }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container row">
        <div class="col s10">
            <h3>{{ subtitle }}</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% form form=form %}{% endform %}
                {% if location and not form.initial.sample_type == 'DNA' %}
                    <h5> Location</h5>
                    {{ location.management_form }}
                    {% form form=location %}{% endform %}
                {% endif %}

                <button class="btn waves-effect waves-light" type="submit" name="_submit">Save</button>

            </form>
        </div>
    </div>
{% endblock %}