{% extends 'base.html' %}

{% load material_form %}
{% block breadcrumbs_items %}
    <ul>
        <li><a href="{% url 'samples' %}">Samples</a></li>
        <li>&nbsp;&gt;&nbsp;</li>

        {% if sample.participant %}
            <li><a href="{% url 'participant_detail' sample.participant.id %}">Participant</a></li>
            <li>&nbsp;&gt;&nbsp;</li>
        {% endif %}
        {% if sample %}
            <li><a href="{% url 'sample_detail' sample.id %}">Sample</a></li>
            <li> &gt;</li>
            <li>{{ sample }}</li>
        {% else %}
            <li>Sample</li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="container row">
        <div class="col s10">
            <h3>{{ subtitle }} {% if sample %}{{ sample.id }} for {{ sample.participant }}{% endif %}</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% form form=form %}{% endform %}
                {% if location %}
                    <h5>Add Location</h5>
                    {{ location.management_form }}
                    {% form form=location %}{% endform %}
                {% endif %}
                {% if shipment %}
                    <h5>Add Shipment</h5>
                    {{ shipment.management_form }}
                    {% form form=shipment.forms.0 %}{% endform %}
                {% endif %}
                {% if transform %}
                    <h5>Add Transform</h5>
                    {{ transform.management_form }}
                    {% form form=transform.forms.0 %}{% endform %}
                {% endif %}
                {% if harvest %}
                    <h5>Add Harvest</h5>
                    {{ harvest.management_form }}
                    {% form form=harvest.forms.0 %}{% endform %}
                {% endif %}
                {% if qc %}
                    <h5>Add Quality Control</h5>
                    {{ qc.management_form }}
                    {% for qc_form in qc.forms %}
                        <div class="well">
                            {% form form=qc_form %}{% endform %}
                        </div>
                    {% endfor %}
                {% endif %}
                <button class="btn waves-effect waves-light" type="submit" name="_submit">Save</button>

            </form>
        </div>
    </div>
{% endblock %}