{% extends "base.html" %}
{% block title %}Sample Details{% endblock %}
{% block breadcrumbs_items %}
    <ul>
        <li><a href="/samples">Samples</a></li>
        <li>&nbsp;&gt;&nbsp;</li>
        <li>Sample</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="well col-md-12">
            <h3>Sample {{ sample.participant|force_escape }}</h3>
        </div>

        <div id="panel-group" class="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">General Information</a>
                        <div class="fixed-action-btn">
                            <a class="btn-floating red" title="Edit Sample"
                               href="{% url 'sample_update' sample.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </h3>

                </div>
                <div id="collapse1" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            <tr>
                                <th>ID:</th>
                                <td>{{ sample.id }}</td>
                            </tr>
                            <tr>
                                <th>Participant:</th>
                                <td>{{ sample.participant.getFullNumber }}</td>
                            </tr>
                            <tr>
                                <th>Type:</th>
                                <td>{{ sample.get_sample_type_display }}</td>
                            </tr>
                            <tr>
                                <th>Stage:</th>
                                <td>{{ sample.get_stage_type_display }}</td>
                            </tr>
                            <tr>
                                <th>Rebleed:</th>
                                <td>{{ sample.rebleed|yesno }}</td>
                            </tr>
                            <tr>
                                <th>Notes:</th>
                                <td>{{ sample.notes }}</td>
                            </tr>
                            <tr>
                                <th>Location:</th>
                                <td>{{ sample.storage_location }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Transforms</a>
                        <div class="fixed-action-btn">
                            <a class="btn-floating blue-grey" title="Add transform"
                               href="{% url 'sample_transform_add' sample.id %}">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </h3>
                </div>
                <div id="collapse2" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Transform date</th>
                                <th>Transform failed</th>
                                <th>Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transform in sample.transformsample_set.all %}
                                <tr>
                                    <th>{{ transform.transform_date }}</th>
                                    <th>{{ transform.failed|yesno }}</th>
                                    <th>{{ transform.notes }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse3">Harvests</a>
                        <div class="fixed-action-btn">
                            <a class="btn-floating blue-grey" title="Add harvest"
                               href="{% url 'sample_harvest_add' sample.id %}">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </h3>
                </div>
                <div id="collapse3" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Regrow date</th>
                                <th>Harvest date</th>
                                <th>Complete</th>
                                <th>Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for harvest in sample.harvestsample_set.all %}
                                <tr>
                                    <th>{{ harvest.regrow_date }}</th>
                                    <th>{{ harvest.harvest_date }}</th>
                                    <th>{{ harvest.complete|yesno }}</th>
                                    <th>{{ harvest.notes }}</th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse4">Lymphocytes</a>
                        <div class="fixed-action-btn">
                            <a class="btn-floating blue-grey" title="Add subsample"
                               href="{% url 'subsample_add' 'LCYTE' sample.id %}">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </h3>
                </div>
                <div id="collapse4" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th>Used</th>
                                <th>Used date</th>
                                <th>Storage date</th>
                                <th>Location</th>
                                <th>QC</th>
                                <th>Notes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sub in lcytes %}
                                <tr>
                                    <td>{{ sub.sample_num }}</td>
                                    <td>{{ sub.used|yesno }}</td>
                                    <td>{{ sub.used_date }}</td>
                                    <td>{{ sub.storage_date }}</td>
                                    <td>{{ sub.location }}</td>
                                    <td></td>
                                    <td>{{ sub.notes }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}