nav {
    background-color: #37474f;
}

footer {
    /*position: fixed;*/
    bottom: 10px;
    width: 100%;
    padding: 5px 10px 5px 400px;
    clear: both;
}

h3 {
    font-size: x-large;
}

.content-table {
    display: flex;
    max-width: 100%;
}

.breadcrumbs {
    margin-left: 2rem;
}

.breadcrumbs ul {
    display: inline-flex;
}

.sidenav-header {
    background: url("/static/img/sidenav.svg") no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
    padding: 15px 0 0 15px;
}

.panel-title .badge {
    float: none;
}


#homepage {
    width: 100%;
}

#homepage .wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    background-color: #fff;
    color: #444;
    padding: 2rem;
    align-items: center;
    /*align-content: stretch;*/
    flex-wrap: wrap;
}

.card {
    padding: 0.5rem;
}
.wrapper .card {
    max-width: 320px;
}

.card-content {
    height: 220px;
}

.card-action {
    height: 50px;
}

.card-profile {
    height: 70vh;
}

.card-title {
    font-size: 1.4rem;
}

#homepage .title-card {
    width: 60vw;
    height: auto;
}
#homepage .title-card .card {
   max-width: 900px;
}
#homepage .title-card .card-content {
    height: auto;
}

/** Help page **/

#help .wrapper {
    display: flex;
    flex-direction:row;
    background-color: #fff;
    color: #444;
    padding: 2rem;
    /*align-items: center;*/
    align-content: stretch;
    flex-wrap: wrap;
}
#help .card {
    margin: 2em;
    padding: 1rem;
    height: auto;
    overflow-y: auto;
    min-width: 300px;
    max-width: 80vw;
}
.fixed-action-btn {
    position: relative;
    float: right;
}

#search {
    color: #fffad7;
}
#search a {
    vertical-align: middle;
}

.right-panel {
    width: 18%;
    margin-left: .375rem;
    margin-right: .375rem;
    float:right;
}
.right-panel .card {
    min-width: 250px;
}

.left-panel {
    width: 80%;
    margin-left: .375rem;
    margin-right: .375rem;
}

.btn-group {
    flex: auto;
    align-content: space-around;
    float: right;
}
.btn-group a:hover{
    color: white;
}

li.active {
    border-bottom: 1pt solid #37474f;
    color: #37474f;
    font-weight: bold;
    transition: border-bottom-color 0.2s linear;
}

.errorlist li {
    color: red;
}

/********************************
Loading spinner
 */
#modal {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100vh;
    width:      100vw;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

body #modal {
    display: none;
}
body.loading #modal {
    display: block;
}
/********************************
Dropdown menus
*********************************/
.filter-group {
    position: relative;
    display: inline-block;
}

#filter-by-status {
    display: none;
    position: absolute;
    /*background-color: #546e7a !important;*/
    /*width: 160px;*/
    /*height: 140px;*/
    box-shadow: 5px 5px 5px;
    z-index: 100;

}

#filter-by-status option {
    line-height: 2em;
    display: block;
    /*color: #fff;*/
    padding: 1rem;
}

.filter-group:hover #filter-by-status {
    display: block;
}

.datepicker-modal {
    height: 390px;
    vertical-align: middle;
}

.subactions {
    display: flex;
    flex-direction: row;

}

.subactions-items {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 5px 5px 5px;
    right: 0;

}

.subactions-items a {
    display: block;
}

.subactions button {
    background-color: #fff;
    border: none;
    color: #ffab40;
    /*pointer: cursor;*/
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

#id_sample_qc-0-DELETE_container label {
    float:right;
}

/********************************
Tables
*********************************/
#summary td {
    max-width: 10vw;
}
.panel-body {
    overflow-x: scroll;
}
/********************************
Pagination
*********************************/
.pagination {
    background-color: #546e7a;
    padding: 1rem 2rem;
    display: flex;
    flex: 1 1 auto;
    color: #F0F8FF;
    justify-content: center;
}

.pagination a {
    margin: 0 1rem;
}

/********************************
Media sizes
*********************************/

@media only screen and (min-width: 993px) {
    .sidenav.sidenav-fixed {
        -webkit-transform: translateX(105%);
        transform: translateX(105%)
    }

    .content {
        margin-left: 300px;
        -webkit-transition: margin-left 2s;
        transition: margin-left 2s;
        min-height: 90vh;
    }

     .content-frontpage {
        margin-left: 10vw;
        display: flex;
        height: 90vh;
    }

    .nav-wrapper {
        padding-left: 400px;
        -webkit-transition: padding-left 2s;
        transition: padding-left 2s;
    }
}





