{% extends "base.html" %}
{% load render_table export_url from django_tables2 %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block content %}
    <section>
        <div>
            <h2>Clinical Records: {{ title }}</h2>

            <ul class="nav nav-tabs">
                <li><a href="{% url 'clinical_list' %}">Summary</a></li>
                <li><a href="{% url 'clinical_demographic_list' %}">Demographics</a></li>
                <li><a href="{% url 'clinical_diagnosis_list' %}">Diagnosis</a></li>
                <li><a href="{% url 'clinical_medical_list' %}">Medical History</a></li>
                <li><a href="{% url 'clinical_symptoms_general_list' %}">Symptoms: General</a></li>
                <li><a href="{% url 'clinical_symptoms_delusion_list' %}">Symptoms: Delusion</a></li>
                <li><a href="{% url 'clinical_symptoms_hallucination_list' %}">Symptoms: Hallucination</a></li>
                <li><a href="{% url 'clinical_symptoms_behaviour_list' %}">Symptoms: Behaviour</a></li>
                <li><a href="{% url 'clinical_symptoms_depression_list' %}">Symptoms: Depression</a></li>
                <li><a href="{% url 'clinical_symptoms_mania_list' %}">Symptoms: Mania</a></li>
            </ul>
        </div>
        <div class="right-panel">
            {% if filter %}
                <div class="card form-card">
                    <form action="" method="get" class="form">
                        {% bootstrap_form filter.form %}
                        {% bootstrap_button 'filter' %}
                        <a class="btn grey" href="{% url reset_url %}">Reset</a>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="left-panel">
            <div id="summary" class="card fade in active">
                <div class="btn-group">
                    <a class="btn btn-small" href="{% export_url 'csv' %}">
                        download <code>.csv</code>
                    </a>
                    <a class="btn btn-small" href="{% export_url 'xls' %}">
                        <code>.xls</code>
                    </a>
                </div>
                {% render_table table %}
            </div>
        </div>
    </section>

{% endblock %}