{% extends 'base.html' %}

{% load material_form %}
{% block breadcrumbs_items %}
    <ul>
        <li><a href="/clinical">Clinical</a></li>
        <li> &gt;</li>
        <li>Clinical Record</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container row">
        <div class="col s10">
            <h3>{{ title }}</h3>
            <blockquote>
                <p>Participants must be created before selecting from dropdown.</p>
                <a href="{% url 'participant_create' %}">Add a Participant</a>
            </blockquote>


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% form form=form %}{% endform %}

                <ul class="nav nav-tabs">
                    {% for key, label in tablist %}
                        <li><a data-toggle="tab" href="#{{ key }}">{{ label }}</a></li>
                    {% endfor %}
                </ul>
                <p>Enter data in each section then click 'Save'</p>
                <div class="tab-content">
                    <div id="demographic" class="tab-pane fade in">
                        {{ demographic.management_form }}
                        <div class="well dsfileform">
                            {% form form=demographic %}{% endform %}
                        </div>
                    </div>
                    <div id="diagnosis" class="tab-pane fade in">
                        {{ diagnosis.management_form }}
                        <div class="well dsfileform">
                            {% form form=diagnosis %}{% endform %}
                        </div>
                    </div>
                    <div id="medical" class="tab-pane fade in">
                        {{ medical.management_form }}
                        <div class="well dsfileform">
                            {% form form=medical %}{% endform %}
                        </div>
                    </div>
                    <div id="symptoms_general" class="tab-pane fade in">
                        {{ symptoms_general.management_form }}
                        <div class="well dsfileform">
                            {% form form=symptoms_general %}{% endform %}
                        </div>
                    </div>
                    <div id="symptoms_delusion" class="tab-pane fade in">
                        {{ symptoms_delusion.management_form }}
                        <div class="well dsfileform">
                            {% form form=symptoms_delusion %}{% endform %}
                        </div>
                    </div>
                    <div id="symptoms_depression" class="tab-pane fade in">
                        {{ symptoms_depression.management_form }}
                        <div class="well dsfileform">
                            {% form form=symptoms_depression %}{% endform %}
                        </div>
                    </div>
                    <div id="symptoms_hallucination" class="tab-pane fade in">
                        {{ symptoms_hallucination.management_form }}
                        <div class="well dsfileform">
                            {% form form=symptoms_hallucination %}{% endform %}
                        </div>
                    </div>
                    <div id="symptoms_behaviour" class="tab-pane fade in">
                        {{ symptoms_behaviour.management_form }}
                        <div class="well dsfileform">
                            {% form form=symptoms_behaviour %}{% endform %}
                        </div>
                    </div>
                </div>
                <br/>
                <button class="btn waves-effect waves-light" type="submit" name="_submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}