{% extends "base.html" %}
{% load sample_filters %}
{% block title %}Clinical Details{% endblock %}
{% block breadcrumbs_items %}
    <ul>
        <li><a href="/clinical">Clinical Results</a></li>
        <li>&nbsp;&gt;&nbsp;</li>
        <li>Clinical Details</li>
    </ul>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="well col-md-12">
            <h3>Clinical Record for {{ clinical.participant|force_escape }}</h3>
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large green" title="Edit Clinical Record"
                   href="{% url 'clinical_update' clinical.id %}">
                    <i class="material-icons">edit</i>
                </a>
                <a class="btn-floating btn-large red" title="Delete Clinical Record"
                   href="{% url 'clinical_delete' clinical.id %}">
                    <i class="large material-icons">delete</i>
                </a>
            </div>
        </div>
        <p><a class="btn btn-primary"
              href="{% url 'participant_detail' clinical.participant.participant.id %}">View Participant</a></p>

        <div id="panel-group" class="accordion">
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1">Demographic</a>
                        <div class="fixed-action-btn">
                            {% if clinical.demographic %}
                            <a class="btn-floating red" title="Edit Demographic"
                               href="{% url 'clinical_demographic_update' clinical.demographic.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                                {%  else %}
                                <a class="btn-floating blue-grey" title="Add Demographic"
                               href="{% url 'clinical_demographic_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse1" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_demographic_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse2">Diagnosis</a>
                        <div class="fixed-action-btn">
                            {% if clinical.diagnosis %}
                            <a class="btn-floating red" title="Edit Diagnosis"
                               href="{% url 'clinical_diagnosis_update' clinical.diagnosis.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add Diagnosis"
                               href="{% url 'clinical_diagnosis_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse2" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_diagnosis_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse3">Medical</a>
                        <div class="fixed-action-btn">
                            {% if clinical.medical %}
                            <a class="btn-floating red" title="Edit Medical"
                               href="{% url 'clinical_medical_update' clinical.medical.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add Medical"
                               href="{% url 'clinical_medical_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse3" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_medical_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse4">Symptoms: General</a>
                        <div class="fixed-action-btn">
                            {% if clinical.symptoms_general %}
                            <a class="btn-floating red" title="Edit General Symptoms"
                               href="{% url 'clinical_symptoms_general_update' clinical.symptoms_general.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add General Symptoms"
                               href="{% url 'clinical_symptoms_general_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse4" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_symptoms_general_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse5">Symptoms: Delusion</a>
                        <div class="fixed-action-btn">
                           {% if clinical.symptoms_delusion %}
                            <a class="btn-floating red" title="Edit Delusion Symptoms"
                               href="{% url 'clinical_symptoms_delusion_update' clinical.symptoms_delusion.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add Delusion Symptoms"
                               href="{% url 'clinical_symptoms_delusion_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse5" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_symptoms_delusion_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse6">Symptoms: Hallucination</a>
                        <div class="fixed-action-btn">
                            {% if clinical.symptoms_hallucination %}
                            <a class="btn-floating red" title="Edit General Symptoms"
                               href="{% url 'clinical_symptoms_hallucination_update' clinical.symptoms_hallucination.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add General Symptoms"
                               href="{% url 'clinical_symptoms_hallucination_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse6" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_symptoms_hallucination_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse7">Symptoms: Behaviour</a>
                        <div class="fixed-action-btn">
                            {% if clinical.symptoms_behaviour %}
                            <a class="btn-floating red" title="Edit Behaviour Symptoms"
                               href="{% url 'clinical_symptoms_behaviour_update' clinical.symptoms_behaviour.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add Behaviour Symptoms"
                               href="{% url 'clinical_symptoms_behaviour_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse7" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_symptoms_behaviour_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse8">Symptoms: Depression</a>
                        <div class="fixed-action-btn">
                            {% if clinical.symptoms_depression %}
                            <a class="btn-floating red" title="Edit Depression Symptoms"
                               href="{% url 'clinical_symptoms_depression_update' clinical.symptoms_depression.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add Depression Symptoms"
                               href="{% url 'clinical_symptoms_depression_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse8" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_symptoms_depression_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>

        </div>
    <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#collapse9">Symptoms: Mania</a>
                        <div class="fixed-action-btn">
                            {% if clinical.symptoms_mania %}
                            <a class="btn-floating red" title="Edit Mania Symptoms"
                               href="{% url 'clinical_symptoms_mania_update' clinical.symptoms_mania.id %}">
                                <i class="material-icons">edit</i>
                            </a>
                            {%  else %}
                                <a class="btn-floating blue-grey" title="Add Mania Symptoms"
                               href="{% url 'clinical_symptoms_mania_create' clinical.id %}">
                                <i class="material-icons">add</i>
                            </a>
                            {% endif %}
                        </div>
                    </h3>

                </div>
                <div id="collapse9" class="collapse" data-parent="#panel-group">
                    <div class="panel-body">
                        <table>
                            {%  for f in clinical.get_symptoms_mania_fields %}
                                <tr>
                                    <th>{{ f.label|capfirst }}</th>
                                    <td>{{ f.value }}</td>
                                </tr>
                         {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}