<!DOCTYPE html>
{% load staticfiles %}
{% load fontawesome %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
    {% include 'material/includes/material_css.html' %}

    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
          media="screen,projection">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    {% fontawesome_stylesheet %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Datatables JS -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    {% include 'material/includes/material_js.html' %}
    <!-- Custom JS -->
    <script src="{% static "js/main.js" %}"></script>
    {% include 'session_security/all.html' %}
    <title>Mowry SZGEN Lab and Clinical Database</title>
</head>
<body>
<nav class="dark-blue darken-1">
    <div class="nav-wrapper ">
        <div class="container">
            <a href="#" class="brand-logo">Mowry SZGEN Lab and Clinical Database</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </div>
</nav>
{% if user.is_authenticated %}
    <div id="side-panel">
        <ul id="slide-out" class="sidenav sn-bg-4 sidenav-fixed">
            <li class="sidenav-header blue">
                <span class="user-view">
                    <a href="{% url 'profile' %}" title="View User Profile">
                        <i class="material-icons large">account_circle</i></a>
                    <a href="{% url 'profile' %}" title="Edit User Name">
                        <span class="white-text name">
                        {% if user.first_name %}
                            {{ user.first_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                        </span>
                    </a>
                    <a href="{% url 'profile' %}" title="Edit User Email">
                        <span class="white-text email">{{ user.email }}</span>
                    </a>
                <span class="btn btn-primary">
                    <a href="{% url 'logout' %}" title="Logout" class="white-text">Logout <i
                            class="material-icons">exit_to_app</i></a>
                </span>
                </span>
            </li>
            <li>
                <a href="{% url 'index' %}" >Studies<i class="material-icons">home</i></a>
            </li>
            <li>
                <a href="{% url 'participants' %}" >Participants
                <i class="material-icons">people</i></a>
            </li>
            <li>
                <a href="{% url 'samples' %}" >Samples<i class="material-icons">group_work</i></a>
            </li>
            <li>
                <a href="{% url 'clinical_list' %}" >Clinical<i
                    class="material-icons">hotel</i></a>
            </li>
            <li>
                <a href="{% url 'datasets' %}" >Datasets<i
                    class="material-icons">content_copy</i></a>
            </li>
            <li>
                <span class="divider"></span>
            </li>
            <li><a class="subheader">Additional</a></li>
            <li><a href="{% url 'documents_list' %}" >Documents
                <i class="material-icons">link</i></a>
            </li>
            <li><a href="api/v1/">REST API
                <i class="material-icons">speaker_phone</i></a>
            </li>
            <li><a href="api/v1/">Help
                <i class="material-icons">info</i></a>
            </li>

            {% if user.is_superuser %}
                <li><a class="subheader">Admin</a></li>
                <li><a href="/admin">Settings<i class="material-icons">settings</i></a></li>
            {% endif %}
        </ul>

    </div>


    <div class="content">
        <div class="breadcrumbs">
            {% block breadcrumbs_items %}{% endblock %}
        </div>

        {% block content %}{% endblock %}
    </div>
{% else %}
    <div class="content-frontpage">
        <section>
            <h3>Login</h3>
            {% if form.non_field_errors %}
                <p class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    {#                <a href="{% url 'password_reset' %}">Lost password?</a>#}
                </p>

            {% endif %}

            <form class="navbar-form" role="form" method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="username"><i class="prefix glyphicon glyphicon-user"></i></label>
                    <input id="username" type="text" class="form-control" name="username" placeholder="Username">

                </div>
                <br/>
                <div class="form-group">
                    <label for="password"><i class="glyphicon glyphicon-lock"></i></label>
                    <input id="password" type="password" class="form-control" name="password"
                           placeholder="Password"/>
                </div>
                <br/>
                <div class="form-group-lg">
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>

            </form>
        </section>
        <section class="jumbotron blue-grey">
            <div class="container white-text">
                <h2>Welcome to the SZGEN Database</h2>
                <p>Studies of Schizophrenic patients from the research of Professor Bryan Mowry, Queensland Brain
                    Institute, The University of Queensland. </p>
            </div>
        </section>

    </div>
{% endif %}


<footer class="footer-copyright">
    <p><a href="mailto:{{ contact_email|urlencode }}">Contact admin</a> |
        &copy; 2019 Queensland Brain Institute</p>
</footer>

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.fixed-action-btn').floatingActionButton();
        $(".datepicker").datepicker();
    });
</script>
</body>
</html>