<!DOCTYPE html>
{% load staticfiles %}
{% load fontawesome %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Datatables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
          media="screen,projection">
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    {% fontawesome_stylesheet %}
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
    <!-- Datatables JS -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <title>Mowry SZGEN Lab and Clinical Database</title>
</head>
<body>
<nav class="dark-blue darken-1">
<div class="nav-wrapper ">
    <div class="container">
        <a href="#" class="brand-logo">Mowry SZGEN Lab and Clinical Database</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

    </div>
</div>
</nav>
<div id="side-panel">
        <ul id="slide-out" class="sidenav sn-bg-4 sidenav-fixed">
            <li class="sidenav-header blue">
                <div class="user-view">
                    <a href="#user"><i class="material-icons large">account_circle</i></a>
                    <a href="#name"><span class="white-text name">Admin</span></a>
                    <a href="#email"><span class="white-text email">admin@example.com</span></a>
                </div>
            </li>
            <li><a href="/" class="collapsible-header">Home<i class="material-icons">home</i></a></li>
            <li><a href="/studies/" class="collapsible-header">Studies<i class="material-icons">people</i></a></li>
            <li><a href="/participants/" class="collapsible-header">Participants<i class="material-icons">people</i></a>
            </li>
            <li><a href="/samples/" class="collapsible-header">Samples<i class="material-icons">extension</i></a>
            </li>
            <li><a href="/genetics/" class="collapsible-header">Genetics<i class="material-icons">dashboard</i></a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Admin</a></li>
            <li><a class="waves-effect" href="#">Settings<i class="material-icons">settings</i></a></li>
        </ul>

    </div>
<div class="breadcrumb">{% block breadcrumbs %}{% endblock %}</div>
<div class="content">
    {% block content %}{% endblock %}
</div>

<footer class="footer-copyright">
    <div class="container">&copy; 2019 Queensland Brain Institute</div>
</footer>
<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.fixed-action-btn').floatingActionButton();
    });
</script>
</body>
</html>